doctype html
html(lang="ru")
	include ./includes/head.jade
	body
		#wrap
			#main
				br
				.container
					.jumbotron
						h1 404
						h2 Страница не найдена.
						a(href = "/") На главную
		#footer
			p.text-muted.text-center
		script(src="/vendor/bootstrap-3.2.0/js/bootstrap.min.js")