/*
body {
  background: black;
  text-align: center;
}
*/
.colorcover td {
  min-width: 30px;
  min-height: 28px;
  width: 30px;
  height: 28px;
  border: 1px solid black;
  text-align: center;
}

.post
{
  border: 1px solid black;
}

.topic-row
{
  cursor: pointer;
}
.matrix-page
{
  width: 40px;
}
.form-settings, .form-edit
{
  display: none;
}
.no-underscore
{
  text-decoration: none;
}